    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        font-family: 'Montserrat', sans-serif;
        overflow-x: hidden;
    }
    /* #header-sec {
    height: 970px;
    background-image: url('../../../images/Background-Image.png') !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */
    
    #navigation-bar {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 99999999999;
    }
    
    .container-fluid {
        padding: 1% 12% !important;
    }
    
    .bold-font {
        font-weight: bolder !important;
    }
    
    #nav-items {
        font-size: 18px !important;
    }
    /* .rotate-img {
    height: 500px !important;
    transform: rotate(5deg);
} */
    
    #header-sec {
        position: relative;
        height: 100%;
        padding-bottom: 380px;
    }
    
    .main-slider {
        height: 640px;
        width: 450px;
        background-color: orangered;
        float: right;
        border-radius: 20px;
        position: absolute;
        top: 0;
        right: -5%;
        -webkit-box-shadow: 3px 3px 5px 6px #ccc;
        /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
        -moz-box-shadow: 3px 3px 5px 6px #ccc;
        /* Firefox 3.5 - 3.6 */
        box-shadow: -10px -10px 5px #ccc;
        /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    }
    
    .temp {
        position: absolute;
        top: -10px;
        right: -5%;
    }
    
    .slider-img {
        width: 530px;
    }
    /* our service section style */
    
    #service-sec {
        background-color: rgb(237, 245, 240);
        position: relative;
        z-index: -88888;
        padding-bottom: 80px !important;
    }
    
    #service-sec h2 {
        margin-top: 20px;
    }
    
    .service-div {
        margin-top: 80px;
    }
    /* align service images vertically centered  */
    
    .service-div-img {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .service-div-img-right {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* Highlight Product section start */
    
    #highlight-product-sec {
        min-height: 400px;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .swiper-container {
        width: 100%;
        height: 400px;
    }
    
    .swiper-wrapper {
        align-items: center;
        margin-left: 80px;
    }
    
    .swiper-slide {
        width: 200px;
        height: 250px !important;
        /* border: 1px solid black; */
    }
    
    .swiper-slide img {
        height: 75%;
        width: 75%;
    }
    
    .swiper-slide-active {
        transform: scale(1.6);
        transition: 0.4s ease;
        /* box-shadow: 2px 0px 5px #ccc; */
    }
    /* Highlight Product section end */
    /* Product section start */
    
    .our-product-sec {
        /* background-color: #FBFCFC; */
    }
    
    .card {
        /* box-shadow: 4px 5px 18px -9px rgba(0, 0, 0, 0.64) !important; */
        /* border-radius: 0.9em !important; */
        border: none !important;
    }
    /* our product categories section style */
    
    .card-style {
        box-shadow: 4px 5px 30px -9px rgba(0, 0, 0, 0.64);
        border-radius: 0.9em !important;
        border: none;
    }
    
    .category-style {
        margin-top: 100px;
    }
    /* our Achievement section style */
    
    #achievement-sec {
        z-index: -10;
        background: url('../../../images/Optimized-Full-Footer.jpg');
        /*background: -webkit-url('../../../images/Footer.png') no-repeat center center fixed;*/
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        overflow-x: hidden;
    }
    
    #achievement-sec h5 {
        /* font-size: 12px; */
        font-weight: bold;
        color: green;
    }
    /* our company section SLIDER style */
    
    .company-sec {
        background-image: url('../../../images/Optimized-Full-RK-wall-mountain.jpeg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    /* Slider: https://bootsnipp.com/snippets/Q0Z1j */
    
    .slick-slide {
        margin: 0px 20px;
    }
    
    .slick-slide img {
        width: 100%;
    }
    
    .slick-slider {
        position: relative;
        display: block;
        box-sizing: border-box;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-touch-callout: none;
        -khtml-user-select: none;
        -ms-touch-action: pan-y;
        touch-action: pan-y;
        -webkit-tap-highlight-color: transparent;
    }
    
    .slick-list {
        position: relative;
        display: block;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }
    
    .slick-list:focus {
        outline: none;
    }
    
    .slick-list.dragging {
        cursor: pointer;
        cursor: hand;
    }
    
    .slick-slider .slick-track,
    .slick-slider .slick-list {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    
    .slick-track {
        position: relative;
        top: 0;
        left: 0;
        display: block;
    }
    
    .slick-track:before,
    .slick-track:after {
        display: table;
        content: '';
    }
    
    .slick-track:after {
        clear: both;
    }
    
    .slick-loading .slick-track {
        visibility: hidden;
    }
    
    .slick-slide {
        display: none;
        float: left;
        height: 100%;
        min-height: 1px;
    }
    
    [dir='rtl'] .slick-slide {
        float: right;
    }
    
    .slick-slide img {
        display: block;
    }
    
    .slick-slide.slick-loading img {
        display: none;
    }
    
    .slick-slide.dragging img {
        pointer-events: none;
    }
    
    .slick-initialized .slick-slide {
        display: block;
    }
    
    .slick-loading .slick-slide {
        visibility: hidden;
    }
    
    .slick-vertical .slick-slide {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
    
    .slick-arrow.slick-hidden {
        display: none;
    }
    /* border bottom on SECTION TITILE */
    
    h2::after {
        content: '';
        position: absolute;
        width: 8%;
        height: 8px;
        left: 46%;
        right: 50%;
        border-bottom: 2px solid grey;
        display: block;
    }
    
    @media (min-width: 992px) and (max-width: 1200px) {
        #header-sec {
            padding-bottom: 340px;
        }
        .main-slider {
            width: 400px;
            height: 600px;
            position: absolute;
            right: 5%;
        }
        .temp {
            position: absolute;
            top: 30%;
            right: 10%;
        }
        .slider-img {
            width: 350px;
        }
    }
    
    @media (min-width: 768px) and (max-width: 991px) {
        #header-sec {
            padding-bottom: 340px;
        }
        /* removing the absolute position of image in service section so that it doesn't overlap other content */
        .main-slider {
            justify-content: center;
            height: 400px;
            width: 600px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, 0);
        }
        .temp {
            position: absolute;
            top: -100px;
            left: 25%;
        }
        .slider-img {
            width: 440px;
        }
        #service-sec {
            padding-bottom: 40px !important;
        }
        .service-div {
            margin-top: 30px;
        }
        .service-div-img {
            position: static;
            top: 0px;
            padding-bottom: 25px;
        }
        .service-div-img-right {
            position: absolute;
            top: 54.5%;
            right: 0.3%;
        }
        #retail-desc {
            margin-top: 265px;
        }
        .swiper-wrapper {
            margin-left: 40px;
        }
        .category-style {
            margin-top: 0px;
        }
    }
    
    @media (min-width: 426px) and (max-width: 767px) {
        .main-slider {
            /* justify-content: center; */
            height: 400px;
            width: 400px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, 0);
        }
        .temp {
            position: absolute;
            top: -50px;
            right: 12%;
        }
        .slider-img {
            width: 350px;
        }
        /* our product category section */
        #service-sec h2 {
            margin-top: 50px;
        }
        .service-div {
            margin-top: 30px;
        }
        .service-img {
            margin-bottom: 50px;
        }
        .category-style {
            margin-top: 0px;
        }
        .custom-service {
            overflow-y: hidden;
        }
        .swiper-slide img {
            height: 130px;
            width: 130px;
        }
        .swiper-wrapper {
            margin-left: 0;
        }
        .swiper-slide {
            width: 140px;
            height: 180px !important;
            /* border: 1px solid black; */
        }
        #achievement-sec {
            background-color: #fff;
            background-image: none;
        }
        .achievement-div {
            margin-top: 40px;
        }
    }
    
    @media (min-width:376px) and (max-width: 425px) {
        #header-sec {
            padding-bottom: 320px;
        }
        .main-slider {
            justify-content: center;
            height: 400px;
            width: 360px;
            position: absolute;
            top: 10px;
            left: 50%;
            transform: translate(-50%, 0);
        }
        .temp {
            position: absolute;
            top: -50px;
            right: 8%;
        }
        .slider-img {
            width: 350px;
        }
        /* our product service section */
        #service-sec {
            padding-bottom: 40px !important;
        }
        #service-sec h2 {
            padding-top: 20px;
        }
        .service-div {
            margin-top: 30px;
        }
        .service-div-img {
            position: static;
            top: 0px;
            padding-bottom: 25px;
        }
        .service-div-img-right {
            position: absolute;
            top: 53.5%;
            right: 0.3%;
        }
        #retail-desc {
            margin-top: 265px;
        }
        .swiper-slide img {
            height: 110px;
            width: 110px;
        }
        .swiper-wrapper {
            margin-left: 0;
        }
        .swiper-slide {
            width: 140px;
            height: 140px !important;
            /* border: 1px solid black; */
        }
        /* category section style */
        .category-style {
            margin-top: 0px;
        }
        .custom-service {
            overflow-y: hidden;
        }
        #achievement-sec {
            background-color: #fff;
            background-image: none;
        }
        .achievement-div {
            margin-top: 40px;
        }
    }
    
    @media (min-width:321px) and (max-width: 375px) {
        #header-sec {
            padding-bottom: 300px;
        }
        .main-slider {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, 0);
            width: 320px;
            height: 350px;
        }
        .temp {
            position: absolute;
            right: 10%;
        }
        .slider-img {
            width: 300px;
        }
        /* service section style */
        #service-sec {
            padding-bottom: 40px !important;
        }
        .service-div {
            margin-top: 30px;
        }
        .service-div-img {
            position: static;
            top: 0px;
            padding-bottom: 25px;
            margin-top: 10px;
        }
        .service-div-img-right {
            position: absolute;
            top: 53%;
            right: 0.3%;
        }
        .service-img-right {
            width: 290px;
        }
        #retail-desc {
            margin-top: 220px;
        }
        .swiper-slide img {
            height: 80px;
            width: 80px;
        }
        .swiper-wrapper {
            margin-left: 0;
        }
        .swiper-slide {
            width: 100px;
            height: 100px !important;
            /* border: 1px solid black; */
        }
        /* category section style */
        #category-sec {
            padding-bottom: 30px !important;
        }
        .category-style {
            margin-top: 0px;
        }
    }
    
    @media (max-width: 320px) {
        #header-sec {
            padding-bottom: 300px;
        }
        .header-ele {
            margin-top: 0px !important;
        }
        .header-ele h1 {
            font-size: 1.9em;
        }
        .main-slider {
            width: 300px;
            height: 350px;
            position: absolute;
            top: 50%;
            right: 3%;
        }
        .temp {
            position: absolute;
            right: 10%;
        }
        .slider-img {
            width: 250px;
        }
        /* service section style */
        #service-sec {
            padding-bottom: 40px !important;
        }
        .service-div {
            margin-top: 30px;
        }
        .service-div-img {
            position: static;
            top: 0px;
            padding-bottom: 25px;
            margin-top: 10px;
        }
        .service-div-img-right {
            position: absolute;
            top: 52.5%;
            right: 0.3%;
        }
        .service-img-right {
            width: 250px;
        }
        #retail-desc {
            margin-top: 190px;
        }
        .swiper-slide img {
            height: 80px;
            width: 80px;
        }
        .swiper-wrapper {
            margin-left: 0;
        }
        .swiper-slide {
            width: 100px;
            height: 100px !important;
            /* border: 1px solid black; */
        }
        /* category section style */
        #category-sec {
            padding-bottom: 30px !important;
        }
        .category-style {
            margin-top: 0px;
        }
    }